.base-styles {
  padding: 5px;
  margin: 10px;
  color: red;
}
.button {
  padding: 5px;
  margin: 10px;
  color: red;
  padding: 15px;
  border: 1px solid black;
}
.card {
  padding: 20px;
  border: 1px solid black;
  padding: 8px;
  margin: 20px;
}
